<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>M V D SATYA SWAROOP</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/resume.css" rel="stylesheet">

    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <!-- Dev Icons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">


  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none" style="color: #343a40;">Quantitative Analyst</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/img/plain.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about"><span class="nav-hover">About</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills"><span class="nav-hover">Skills</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#researchwork"><span class="nav-hover">Research Work</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience"><span class="nav-hover">Experience</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education"><span class="nav-hover">Education</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://swaroop9ai9.github.io/swaroop_portfolio/"><span class="nav-hover">Code Log</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects"><span class="nav-hover">Projects</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="static/Resume_Swaroop.pdf"><span class="nav-hover">Resume</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests"><span class="nav-hover">Interests</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards"><span class="nav-hover">Certifications</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about"><span class="nav-hover">Contact</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">M V D <span class="text-primary">Satya Swaroop</span></h1>
          <div class="subheading mb-5">Plot 40 PJR Enclave · Hyderabad, TS 500050 · (850) 004-7209 ·
            <a href="mailto:name@email.com">swaroopmanchala9@gmail.com</a>
          </div>
          <!--<p class="mb-5" style="display: block;">Seeking the position of a full stack web developer.</p>-->
          <p>Mathematics is the only place where truth and beauty mean the same thing. As a Quantitative Analyst I explore this beauty to bring forward my understanding of this truth.</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://www.youtube.com/channel/UCZ4X_iyCnW2FDWgSGfbPX2g/?guided_help_flow=5">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/swaroop-manchala-7a793b169/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/swaroop9ai9">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages &amp; Tools</div>

            <!-- This link has a cheat sheet for the icons -->
            <!-- http://vorillaz.github.io/devicons/#/cheat -->

            <ul class="list-inline list-icons">
              <li class="list-inline-item">
                <a style="text-decoration: none" href="#"><i class="devicon-java-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.python.org/"><i class="devicon-python-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.r-project.org/"><i class="fab fa-r-project"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="#"><i class="devicon-c-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.hackerrank.com/swaroopmanchala2"><i class="devicons devicons-code_badge"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.postgresql.org/"><i class="devicon-mysql-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.w3schools.com/html/html5_intro.asp"><i class="devicons devicons-html5"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.w3schools.com/css/"><i class="devicons devicons-css3"></i></a>
              </li>
              <li class="list-inline-item">
                  <a style="text-decoration: none" href="https://www.w3schools.com/js/"><i class="devicons devicons-javascript"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="#"><i class="devicons devicons-django"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://getbootstrap.com/"><i class="devicons devicons-bootstrap"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://github.com/"><i class="devicon-git-plain"></i></a>
              </li>


            <br>

              <div class="subheading mb-3">Platforms</div>

              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.heroku.com/home"><i class="devicon-heroku-original"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.ubuntu.com/"><i class="devicon-atom-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.ubuntu.com/"><i class="devicon-visualstudio-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://aws.amazon.com/"><i class="devicons devicons-aws"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://aws.amazon.com/"><i class="devicons devicons-firebase"></i></a>
              </li>

              <div class="subheading mb-3">Operating Systems</div>

              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.ubuntu.com/"><i class="devicon-ubuntu-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.ubuntu.com/"><i class="devicon-linux-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.apple.com/"><i class="devicon-apple-original"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.microsoft.com/en-us/windows"><i class="devicon-windows8-original"></i></a>
              </li>

            </ul>


        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="researchwork">
        <div class="my-auto">
          <h2 class="mb-5">Research</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"><a href="http://www.alsafe.pythonanywhere.com/brewculator">Open Source Contributions</a></h3>
              <div class="subheading mb-3">[raptorarima|raptorfinance]</div>
              <ul>
                <br>
                <p>
                  Raptorfinance, is a python package which retrives stock price via webscrapping YahooFinance. This API Supports to retrieve data especially works for NSE/BSE stocks.
                  Please find API code <a href="https://github.com/swaroop9ai9/raptorfinance">here.</a>
                  <br>
                  Raptorarima, is a python package which is an implementation of Auto Regressive Moving Average Model from scratch using python.
                  This API Supports to model time series data using box-jenkins model. Please find API code <a href="https://github.com/swaroop9ai9/raptorarima">here.</a>
                </p>

                <br>


              </ul>
            </div>


      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Quatitative Researcher</h3>
                <div class="subheading mb-3"><a href="https://qtim-lab.github.io/">Independent Quantitative Analyst </a></div>
                <ul>
                  <li>Managing online machine learning competitions hosted by the lab.</li>
                  <br>
                  <li>Building software to extend research tools to clinical users.</li>
                  <br>
                  <li>Create public-facing web-tools to exhibit our imaging research.</li>
                  <br>
                  <li>Point person for information technology and web development in the lab.</li>
                  <br>
                  <li>Managemulti-server GPU clusters and data storage devices.</li>
                  <br>
                  <li>Help members of our lab successfully use and maintain organization on these servers.</li>
                </ul>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">May 2020 - Present</span>
              </div>
            </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Research Assistant</h3>
              <div class="subheading mb-3"><a href="http://www.air-worldwide.com/">IIT Hyderabad</a></div>
              <ul>
                <li>Drafted and tested various Deep learning Model Architectures in the context of Unsupervised Scene understanding.</li>
                <br>
                <li>Worked with a Phd Student to develop a Thesis based on Scene Understanding and Unsupervised Action Localization</li>
                <br>
                <li>Developed a code base for Deep Gaussian Mixtures for Action localization as part of Scene Understanding Thesis.</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Feb 2020 - May 2020</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Analyst</h3>
              <div class="subheading mb-3"><a href="http://www.air-worldwide.com/">Deloitte</a></div>
              <ul>
                <li>Oscar is a tool developed in C# , for automating workflow in Oracle ERP security. The tool mainly is developed for  Deloitte internal use , as to leverage API calls provided by Oracle Fusion SaaS and automate workflow requests.</li>
                <br>
                <li>As an Intern at Deloitte worked on Oracle Cloud ERP, by leveraging cloud instances to provide industry security solutions for a fortune 500 company.</li>
                <br>
                <li>Also worked on “Sailpoint” technology implemented Privileged Access Management Security and performed Integration testing and User Acceptance testing before deploying the Cloud Instance to production.</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Jan 2019 - Jan 2020</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Research Intern</h3>
              <div class="subheading mb-3"><a href="http://www.air-worldwide.com/">VNR VJIET</a></div>
              <ul>
                <li>Worked on Emotion Classification Using Voice Project, we used MFCC coefficient from voice data and trained the data on CNN Model. We managed to train the model at 83% Accuracy.</li>
                <br>
                <li>Worked to develop a thesis based on Autonomous Vehicles and their funcitonality based on Google's Waymo</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2018 - Jan 2019</span>
            </div>
          </div>


        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">University of Texas At Austin</h3>
              <div class="subheading mb-3">Post Graduation Program in Artificial Intelligence and Machine Learning </div>
              <div>Exploratory Data Analysis and Cleaning, Statistics, Linear Regression, Support Machine Vectors, Logistic Regression, K-Means Clustering, Hierarchical Clustering, Neural Networks, CNN’s, LSTM, Computer Vision, Gaussian Mixtures, Deep GMM’s</div>
              <p>GPA: 9.3</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Aug 2019 - Oct 2020</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Indian School of Business</h3>
              <div class="subheading mb-3">Technology Entrepreneurship Program</div>
              <div>Design Thinking , Strategy and Vision, Economies and Opportunities , Business Model Canvas, Business Value Propositions , Supply Chain Channels and Management , Revenue Model and Advertising.</div>
              <p> </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Jun 2017 - May 2019</span>
            </div>
          </div>

          <br><br>
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Jawaharlal Nehru Institute Of Technology [VNR VJIET]</h3>
              <div class="subheading mb-3">Bachelors of Technology in Computer Science Engineering</div>
              <div>Algorithms and Data Structures, Dbms, Big Data Computing , AI and Data Mining , Linear Algebra, Numerical Analysis and Computational Methods, Optimization Techniques.</div>
              <p>GPA: 3.5</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Aug 2015 - Dec 2019</span>
            </div>
          </div>



        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
          <h2 class="mb-5">Projects</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"><a href="http://www.alsafe.pythonanywhere.com/brewculator">Alsafe</a></h3>
              <div class="subheading mb-3">Stay Digitaly Alive</div>
              <ul>
                <br>
                <p> We belive that its very crucial to safegaurd a person's digital presence. Especially in today's world where tech is very much included in our lifestyle.
                  We developed a web application which gives the user a unique Identity based on face snap, and other users can search someone else's profile to check if they are who they are claiming to be.
                  Please visit <a href="https://alsafe.pythonanywhere.com">here</a> to checkout our application. Please watch this <a href="https://www.youtube.com/watch?v=KgTlmvF94ZQ">demo video</a> of our working beta to understand the application better.

                </p>

                <br>


              </ul>
            </div>

            <div class="resume-date text-md-right">
              <span class="text-primary">Jul 2020 - Sep 2020</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"><a href="https://github.com/swaroop9ai9/Time-Series-Analysis/tree/master/Restaurant%20IOT%20Temp%20Forecasting">TempCast</a></h3>
              <div class="subheading mb-3">Forecasting Time Series Data Using Machine Learning and Artificial Intelligence</div>
              <ul>
                <br>
                <p>As part of Capstone we worked on a live project. We leveraged IOT Sensor Data offered by <a href="https://platter.online/freesensors">Platter. </a> and build Machine Learning and Deep learning to forecast temperature, which we believe is very essential after global impact of covid19.
                This is a Live Project for a US Based Restaurant Chain. Our Client Requested us to quantify the statistical signifiance between Manual Temperature Testing and Sensor based Temperation Checking. We used the Data obtained from Sensor Platfrom Platter and used the dataset to create various Statistical/Recurrent Neural Network models.
                 Refer to the link for our <a href="static/finalreport.pdf">Report</a>  </p>

                <br>

              </ul>
            </div>

            <div class="resume-date text-md-right">
              <span class="text-primary">Apr 2020 - Jun 2020</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"><a href="https://github.com/swaroop9ai9/Emotion_Classification_Using_Voice">Emoce</a></h3>
              <div class="subheading mb-3">Emotion Classification Using Voice</div>
              <ul>
                <br>
                <p>This Project presents the implementation of emotion detection from voice with a deep Convolutional Neural Network architecture (CNN) that process and classifies voice samples. The architecture is an adaptation of an image processing CNN, programmed in Python. The model can classify the voice into male/female and 8 different emotions with 80% Accuracy. Please refer <a href="https://github.com/swaroop9ai9/Emotion_Classification_Using_Voice">here</a> to find our project thesis.
                </p>

              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Jan 2019 - Apr 2019</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Amazon Recommendation System</h3>
              <div class="subheading mb-3">Recommendation System using Machine learning </div>
              <ul>
                <br><br><br>
                <p>Project for recommendation system on Amazon Product Purchase Data set. A popularity based recommendation system. Created an instance of User Similarity based Collaborative Filtering model. Please check out our code <a href="https://github.com/swaroop9ai9/Machine-Learning-and-deep-Learning-Projects/blob/master/Recommendation_System_On_Amazon_Customer_Dataset.ipynb">here</a>
                </p>

                <br>

              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Apr 2019 - May 2019</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Stock Price Prediction</h3>
              <div class="subheading mb-3">Stock Price Prediction Using LSTM </div>
              <ul>
                <br><br><br>
                <p>We used ‘yfinance’ API in python to collect the data and using user input we collected the dataset between a given time interval. We normalized the Dataset using MinMaxScaler. Using ‘Open,High,Close,Low,Volume’ with batchsize=2 and Time_Steps = 2 as hyperparameters to LSTM, we predicted the stock closing price of google with 87% Accuracy. Please check out our code <a href="https://github.com/swaroop9ai9/Fintech/blob/master/LSTM%20for%20Stock%20prediction/stock_prediction_Lstm.ipynb">here</a></p>
                </p>
                <br>

              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Jan 2020 - Feb 2020</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Credit Defaulters Detection</h3>
              <div class="subheading mb-3">Classification of Credit Defaulters Using an Ensemble of Random forest, Adaboost, Gradient Boost</div>
              <ul>
                <br><br><br>
                <p>We are using German Credit Dataset and Classifiying the users who are defaulting credit.Using RFC feature importance, we are perform feature engineering to identify the important features. Using Ensemble techniques (Random Forest/Adaboost/ Gradient Boost) we are able to achieve an accuracy of 90% on Train and 80% on Test data. <a href="https://github.com/swaroop9ai9/Learning-development/blob/master/Classification_Methods_Bank_Dataset.ipynb">here</a></p>
                </p>
                <br>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Jan 2020 - Feb 2020</span>
            </div>
          </div>



        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a Quantitative Analyst, I enjoy socializing with Friends,Cooking and playing Cricket.</p>

          <p>PS:If you like coffee, we have much to discuss. ;)</p>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Certifications</h2>
          <ul class="fa-ul mb-0">

            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="#">COURSERA: Deep Learning Specialization</a>
              <br>
              Deep Learning AI
              <br>
              <a href="#">Neural Networks and Deep Learning</a>
              <br>
              <a href="#">Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization</a>
              <br>
              <a href="#">Structuring Machine Learning Projects</a>
              <br>
              <a href="#">Convolutional Neural Networks</a>
              <br>
              <a href="#">Sequence Models</a>
            </li>
            <br>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="#">COURSERA: Algorithms and Data Structures Specialization</a>
              <br>
              University of San Diego CA
              <br>
             <a href="#">Algorithmic Toolbox</a>
             <br>
             <a href="#">Advanced Algorithms and Complexity</a>
            </li>
            <br>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="#">COURSERA: Machine Learning and Reinforcement Learning in Finance Specialization</a>
              <br>
              New York University
              <br>
              <a href="#">Guided Tour of Machine learning</a>
              <br>
              <a href="#">Fundamentals of Machine learning in Finance</a>
              <br>
              <a href="#">Reinforcement Learning in Finance</a>
              <br>
              <a href="#">Overview of Advanced Methods of Reinforcement Learning in Finance</a>
              <br>
            </li>
            <br>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="#">COURSERA: Financial Markets</a>
              <br>
              Yale University

            </li>
            <br>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="#">NPTEL: Big Data Computing</a>
              <br>
              IIT Kanpur

            </li>

          </ul>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/resume.min.js"></script>



  </body>

</html>
